<div class="movie-card" (click)="openDetails()">
  <img
    [src]="movie.poster ? movie.poster : 'assets/default-poster.jpg'"
    [alt]="movie.title"
    class="poster"
  />

  <div class="details">
    <h3 class="title">
      {{ movie.title }}
      <span *ngIf="movie.releaseDate">
        ({{ movie.releaseDate | date : "yyyy" }})
      </span>
    </h3>
    @if(!movie.average || movie.average == 0){
    <p class="rating">⭐ N/A / 10</p>
    } @else{
    <p class="rating">⭐ {{ movie.average }} / 10</p>
    }

    <p class="genres" *ngIf="genreNames">{{ genreNames }}</p>

    <p class="overview" *ngIf="movie.overview">
      {{ movie.overview }}
    </p>
  </div>
</div>
