<div class="container mt-5">
  <div class="row bg-light rounded p-3 mb-3 align-items-center">
    <div class="col-10 row align-items-center">
      <div class="col-2">
        <img
          [src]="
            watchlistItemAndReview.watchlistItem.movie.poster
              ? watchlistItemAndReview.watchlistItem.movie.poster
              : 'poster.jpg'
          "
          class="img-fluid rounded"
          alt="poster"
        />
      </div>

      <div class="col-10">
        <p class="fw-bold mb-1">
          {{ watchlistItemAndReview.watchlistItem.movie.title }} ({{
            watchlistItemAndReview.watchlistItem.movie.releaseDate
              | date : "yyyy"
          }})
        </p>
        <p class="mb-1">
          Status: {{ watchlistItemAndReview.watchlistItem.status.name }}
        </p>
        @if(watchlistItemAndReview.watchlistItem.movie.average ){
        <p class="text-muted mb-0">
          Rating:
          {{ watchlistItemAndReview.watchlistItem.movie.average + "⭐" }}
        </p>
        } @else{
        <p class="text-muted mb-0">Rating: "N/A"</p>
        }
      </div>
    </div>

    <div class="col-2 d-flex flex-column gap-2">
      <button class="btn btn-secondary w-100" (click)="openStatusModal()">
        Change Status
      </button>
      <button class="btn btn-primary w-100" (click)="openCommentModal()">
        Rate
      </button>
      <button class="btn btn-danger w-100" (click)="remove()">
        Remove from watchlist
      </button>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="statusModal-{{ watchlistItemAndReview.watchlistItem.watchlistItemId }}"
  tabindex="-1"
  aria-labelledby="statusModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="statusModalLabel">Change Status</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <select class="form-select" [(ngModel)]="selectedStatus">
          <option
            *ngFor="let status of statusOptions"
            [value]="status.statusId"
          >
            {{ status.name }}
          </option>
        </select>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Cancel
        </button>
        <button type="button" class="btn btn-primary" (click)="changeStatus()">
          Save
        </button>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="commentModal-{{ watchlistItemAndReview.watchlistItem.watchlistItemId }}"
  tabindex="-1"
  aria-labelledby="statusModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Rate Movie</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <label class="form-label">Rating</label>
        <select class="form-select" [(ngModel)]="rating">
          <option *ngFor="let r of ratings" [value]="r">{{ r }}</option>
        </select>

        <label class="form-label mt-3">Comment</label>
        <textarea
          class="form-control"
          rows="4"
          [(ngModel)]="comment"
          placeholder="Write your review here..."
        ></textarea>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Cancel
        </button>
        <button type="button" class="btn btn-primary" (click)="leaveRating()">
          Save
        </button>
      </div>
    </div>
  </div>
</div>
